#chapters {
	position: fixed; 
	left: 0;
	top: 0;
	width: 199px;
	border-right: 1px solid #333;
	bottom: 0;
	overflow: auto;
}
#center {
	left: 200px;
	bottom: 0px;
	top: 0px;
	right: 0px;
	position: fixed;

	#panels {
		height: 100%;
	}
}

.CodeMirror {
	line-height: 1.35em;
}